{% extends "portfolio/base.html" %}

{% block content %}
<h2>Formações</h2>

<section>
    {% for formacao in formacoes %}
    <article>
        <header>
            <h3>{{ formacao }}</h3>
        </header>

        <section>
            <h4>Competencias adquiridas</h4>
            <ul>
                {% for competencia in formacao.competencias.all %}
                    {{ competencia }}
               {% endfor %}
            </ul>
        </section>
        <a href="{% url 'editar_formacao' formacao.id %}">Editar</a>
        <a href="{% url 'apagar_formacao' formacao.id %}">Apagar</a>
    </article>
    {% endfor %}
    <a href="{% url 'nova_formacao' %}">Adicionar formacao</a>
</section>
{% endblock %}