{% extends "portfolio/base.html" %}

{% block content %}
<h2>Licenciaturas</h2>

<section>
    {% for licenciatura in licenciaturas %}
    <article>
        <header>
            <h3>{{ licenciatura }}</h3>
        </header>

        <section>
            <h4>Unidades Curriculares</h4>
            <ul>
                {% for uc in licenciatura.uc.all %}
                    {{ uc }}
               {% endfor %}
            </ul>
        </section>
    </article>
    {% endfor %}
</section>
{% endblock %}